{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% block content %}
<div class="container-fluid">
<div class="jumbotron " style="background-image: url(https://i.pinimg.com/originals/d0/e9/13/d0e9137219b78062b0441ee74ca47a8f.gif)">
        <h3>Want to write a new pitch? <a href="/create/new">Click Here</a></h3>
        <div class="text-warning">
        <h1>PITCH-PERFECT</h1>
        </div>
        <br><br><br><br><br><br><br><br><br><br>
</div>
    <div class="container jumbotron image-responsive" style="background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg)">
            <!-- <a href="#trial" class="col-md-4 btn btn-info" data-toggle="collapse">Simple collapsible</a> -->
            <ul class="nav nav-pills nav-justified">
                    <li class="active"><a data-toggle="pill" href="#inspiration">INSPIRATION</a></li>
                    <li><a data-toggle="pill" href="#interview">INTERVIEW</a></li>
                    <li><a data-toggle="pill" href="#pickUp">PICK-UP LINES</a></li>
                    <li><a data-toggle="pill" href="#product">PRODUCT PITCHES</a></li>
                    <li><a data-toggle="pill" href="#promotion">PROMOTION PITCH</a></li>
                  </ul>
                  
                  <div class="tab-content" style="margin:2%;">
                    <div id="inspiration" class="tab-pane fade in active">
                        <div class="row">
                            {{macro.displayPitch(inspiration)}}
                        </div>
                    </div>
                    <div id="interview" class="tab-pane fade">
                        <div class="row">
                            {{macro.displayPitch(interview)}}
                        </div>
                    </div>
                    <div id="pickUp" class="tab-pane fade">
                        <div class="row">
                            {{macro.displayPitch(pickUp)}}
                        </div>
                    </div>
                    <div id="product" class="tab-pane fade">
                            <div class="row">
                                {{macro.displayPitch(product)}}
                            </div>
                    </div>
                    <div id="promotion" class="tab-pane fade">
                            <div class="row">
                                {{macro.displayPitch(promotion)}}
                            </div>
                    </div>
                  </div>
                  <!-- <div class="row">
                        <h1>Comments</h1>
                        <hr>
                        {% if comments %}
                            {{macro.displayComments(comments)}}
                        {% endif %}
                </div> -->
    </div>

{% endblock %}
</div>